<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>
<title>TeeTime</title>
<div class="container">
    <%- include('./partials/nav.ejs') %>
    <div class="main-content-landing">

            <body style="display:flex">
                <h1>WELCOME TO TEETIME</h1>

                <h4> <a class="landing-link btn light-green darken-2" href="sessions/login">Login</a></h4>
                <h4>Not a member? <a class="landing-link" href="users/register"> Register Here</a>
            </body>
    </div>
</div>

</html>