<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>
	<title>Login</title>
	<div class="container" id="login">

		<%- include('../partials/nav.ejs') %>

			<body>
				<div class="main-content-login">
					<h1>Login</h1>
					<form action='/sessions' method='POST'>

						<label for="username">Username:</label>
						<input type="text" name="username" id="username" />


						<label for="password">Password:</label>
						<input type="password" name="password" id="password" />

						<input class="btn waves-effect dark-green darken-2" type="submit" value="Login">
					</form>
				</div>
			</body>
	</div>


</html>