<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

	<div class="container">
		<%- include('../partials/nav.ejs') %>

			<body>
				<div class="main-content-register">
					<h1>Register</h1>
					<form action='/users/register' method='POST'>
						<div class="input-field">
							<label for="username">Username:</label>
							<input type="text" name="username" id="username" />
						</div>
						<div class="input-field">
							<label for="password">Password:</label>
							<input type="password" name="password" id="password" />
						</div>
						<div class="input-field">
							<label for="handicap">Handicap:</label>
							<input type="number" name="handicap" id="handicap" />
						</div>
						<input class="btn waves-effect dark-green darken-2" type="submit" value="Register">
					</form>
				</div>
	</div>
	</body>

</html>